In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('kyphosis.csv')
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [4]:
data.shape

(81, 4)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [6]:
x = data.drop('Kyphosis', axis=1)
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [7]:
y = data['Kyphosis']
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [11]:
x_train.shape

(56, 3)

In [14]:
x_test.shape

(25, 3)

# Decision Tree

In [15]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [23]:
pred = model.predict(x_test)

In [21]:
y_test

50     absent
17     absent
62     absent
61    present
34     absent
58     absent
41     absent
70     absent
37    present
18     absent
69     absent
42     absent
27     absent
32     absent
55     absent
80     absent
20     absent
59     absent
67     absent
39    present
33     absent
74     absent
15     absent
64     absent
40    present
Name: Kyphosis, dtype: object

In [24]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, pred)
accuracy

0.68

In [25]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, pred)
cm

array([[15,  6],
       [ 2,  2]], dtype=int64)